body {
    background: linear-gradient(#99b3ff, #c4d6df);
}
#PaulanerÜberschrift{
    color: #6600ff;
    font-size:100px; 
    padding-left:350px;
    font-family: 'comicsansms';
}
.PaulanerNavigation{
    color: #9999ff;
    font-size:25px;
    font-family: 'comicsansms';
    padding-left:350px;
}
.PaulanerNavigation:hover{
    color:#6600ff;
}

.PaulanerZwischenüberschrift{
    color: #6600ff;
    font-family: 'comicsansms';
    clear:both;
    padding-left:370px;
    font-size:40px;
}
#PaulanerListe{
    color:#9999ff;
    font-family: 'comicsansms';
}
#PaulanerListe:hover{
    color:#7878fc;
}
#LieblingsmusikTabelle{
    color:#00004d;
    border:2px solid #00004d;
}
.gif {
  animation: pulsieren 1.5s infinite;
}
@keyframes pulsieren {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.Nährwertetabelle{
    color:#9999ff;
    font-family: 'comicsansms';
    padding-left:370px;
    font-size:30px;
}
.Nährwertetabelle:hover{
    color:#7878fc;
}